$height: 70px;
._toolbar-item{
	padding: 0px 5px;
	line-height: $height;
}

.-toolbar{
	height: $height;
	width: 100%;
	border: 1px solid #ccc;
}

.-toolbar-left{
	@extend ._toolbar-item;
	float: left;
}

.-toolbar-right{
	@extend ._toolbar-item;
	float: right;
}

.-toolbar-icon{
	@extend ._toolbar-item;
	float: left;
	width: 50px;
	margin: 0 5px;
}