$time-col-width: 55px;

.-monfri-view{
	--height: 40px;
	position: relative;
	height: calc(100vh - 60px);
	width: 100%;
}
.-monfri-grid{
	display: grid;
	position: relative;
	top: calc(var(--height) - 6px);
	height: calc(100% - var(--height));
	width: 100%;
	grid-template-columns: $time-col-width repeat(5, 1fr);
	overflow: scroll;
	background: #f2f2f2;
}

.-title-row{
	position: absolute;
	top: 0;
	display: grid;
	grid-template-columns: $time-col-width repeat(5, 1fr);
	width: 100%;
	height: var(--height);
	justify-items: center;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	background: var(--color-accent);
}

.-col-title{
	height: var(--height);
	line-height: var(--height);
	text-align: center;
	vertical-align: center;
	background: skyblue;
	overflow: hidden;
	text-transform: uppercase;
}